@import "tailwindcss";

@utility container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;

  @variant sm {
    max-width: 600px;
  }

  @variant md {
    max-width: 728px;
  }

  @variant lg {
    max-width: 984px;
  }

  @variant xl {
    max-width: 1240px;
  }
}

:root {
  --font-sans: var(--font-poppins);
}

body {
  font-family: var(--font-poppins), system-ui, sans-serif;
}
